<!DOCTYPE html>
<html>
  <head>
    <title>Games Gallery</title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/0.png">
    <!--link rel="icon" href="statics/quasar-logo.png" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png" -->
    
     <!-- duotalk - chatbot inteligente --> 
    <script type='text/javascript'> window.__cb = window.__cb || {}; window.__cb.id = "5f8731d2ef43cb0011b22d38"; 
      (function() { var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true; 
      be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.duotalk.com.br/widget/plugin.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s); })(); 
    </script> 
    
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
