<!DOCTYPE html>
<html>
  <head>
    <title>Games Gallery</title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/0.png">
    <!--link rel="icon" href="statics/quasar-logo.png" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png" -->
    
     <!-- duotalk - chatbot inteligente --> 
    <script type='text/javascript'>
      window.__cb = window.__cb || {}; 
        window.__cb.id = "608179c7389aee0d861fa5d0"; 
        (
            function() { 
                var be = document.createElement('script'); 
                    be.type = 'text/javascript'; 
                    be.async = true; 
                    be.src = 'https://cdn.duotalk.com.br/widget/plugin.js/';
                var s = document.getElementsByTagName('script')[0]; 
                    s.parentNode.insertBefore(be, s);
            }
        );
        (
            function(){
                var heig = window.innerHeight;
                var wid = window.innerWidth;
                if(wid < 600){
                    var bubble = document.getElementsByClassName('talk-bubble');
                    bubble.style.display = 'none';
                    console.log(bubble[0]);
                }
                console.log(heig, wid);
            }
        )
        (); 
    </script> 
    
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
